<section class="bg-home">
  <div class="main-container">

  </div>
  <div class="secondary-container">
    <div class="small-containers-1">1</div>
    
    <div class="small-containers-2"> <a><%= link_to "Locations", locations_path %></a> </div>
    
    <div class="small-containers-3">3</div>
  </div>
</section>
<section class="bg-home2">
  <h1><em>Your most memorable vacations just clicks away!</em></h1>
  <% @locations = Location.all %>
  <% @locations.each do |location| %>
  <%= location.name %>
  <% end %>
</section>
<section class="bg-home3">
  <h1><em>All your activities and passes on your palm</em></h1>
  <% @activities = Activity.all %>
  <% @activities.each do |activity| %>
  <%= activity.name %>
  <% end %>
</section>


<%= javascript_pack_tag "home_background" %>
