<section class="bg-home">
  <div class="main-container">

  </div>
  <div class="secondary-container">
    <div class="small-containers-1">1</div>
    <div class="small-containers-2">2</div>
    <div class="small-containers-3">3</div>
  </div>
</section>
<section class="bg-home2">
  <h1><em>Your most memorable vacations just clicks away!</em></h1>
</section>
<section class="bg-home3">
  <h1><em>All your activities and passes on your palm</em></h1>
</section>


<%= javascript_pack_tag "home_background" %>
