<h1>Create a location</h1>

<%= simple_form_for @location do |f| %>
    <%= f.input :name, label: "Name", placeholder: "Example: Oaxaca" %>
    <%= f.input :description, placeholder: "Paradise meets heaven" %>
    <%= f.submit "Create Location" %>
<% end %>