<h1>Bienvenido a <%= @location.name %></h1>

<% @location.activities.each do |activity| %>
    <%= link_to location_activity_path(activity.location, activity) do %>
        <%= activity.name %>
    <% end %>
<% end %>

<%= link_to "Crear una actividad", new_location_activity_path(params[:id]) %>